$form-group-margin-bottom: 10px;

@import "~bootswatch/dist/lumen/_variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/lumen/_bootswatch";
@import "~datatables.net-bs4/css/dataTables.bootstrap4";
@import "~fine-uploader/fine-uploader/fine-uploader-new";
@import "../stylesheets/_flower_spinner";
@import "../stylesheets/simple_form-bootstrap/_simple_form-bootstrap";

body {
  padding: 20px 0px;
}

a {
  text-decoration: underline;
}

a.btn {
  text-decoration: none;
}

h1 {
  margin-top: 0px;
}

.nav-header.breadcrumb ol.breadcrumb {
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  border-width: 0px;

  li {
    @extend .breadcrumb-item;
  }
}

.qq-upload-button {
  //background-color: $btn-primary-bg;
  //border-color: $btn-primary-border;
}

.submit {
  margin-top: 2em;
}

.submit .cancel {
  margin-left: 2em;
}

table .actions {
  text-align: right;
}

table .actions {
  a {
    margin-left: 1.5rem;
  }

  a:first-child {
    margin-left: 0px;
  }
}

a .svg-inline--fa:first-child,
button .svg-inline--fa:first-child {
  margin-right: .3rem;
}

abbr[title=required] {
  border-style: none;
  text-decoration: none;
  cursor: default;
  color: #E87723;
  font-family: "Verdana";
  font-size: 14px;
  font-weight: bold;
}

.form-control-inline {
  width: auto;
}

#login {
  max-width: 400px;
  margin: 0px auto;
}

.google-signin-btn {
  display: inline-block;
  width: 191px;
  height: 46px;
  background-image: url('../images/btn_google_signin_dark_normal_web@2x.png');
  background-size: 191px 46px;
  background-repeat: no-repeat;
}

.google-signin-btn:hover,
.google-signin-btn:focus {
  background-image: url('../images/btn_google_signin_dark_focus_web@2x.png');
}

.google-signin-btn:active {
  background-image: url('../images/btn_google_signin_dark_pressed_web@2x.png');
}

.dataTables_wrapper {
  margin-top: 1.5em;
}

.large-height {
  display: inline-block;
  //margin-top: $padding-large-vertical;
}

.details {
  .row:after {
    content: "";
    width: 100%;
    display: block;
    border-bottom: 1px solid #e3e3e3;
    margin: 6px 15px;
    @include media-breakpoint-up(sm) {
      margin: 0px 15px;
    }
  }

  .row > div {
    @include media-breakpoint-up(sm) {
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }

  .row .col-sm-4 {
    font-weight: bold;

    @include media-breakpoint-up(sm) {
      text-align: right;
    }
  }

  .row .col-sm-4.photo {
    font-weight: normal;
    text-align: center;
  }
}

.photo-metadata {
  color: #777;
  font-size: 12px;
}

.button-actions {
  @include media-breakpoint-up(md) {
    text-align: right;
  }

  a {
    margin-left: 1.5rem;
  }

  a:first-child {
    margin-left: 0px;
  }
}

.row.footer {
  margin-top: 2em;
}

.progress-notice {
  max-width: 500px;
  margin: 0px auto;
  text-align: center;

  h3 {
    color: #fff;
    margin: 0px;
  }

  .loader-container {
    text-align: center;
    height: 100px;
    padding-top: 50px;
  }
}

.report-form .photo-form:before,
.report-form .form-horizontal > .form-group:before {
  content: "";
  width: 100%;
  display: block;
  border-bottom: 1px solid #e3e3e3;
  margin: 0px ($grid-gutter-width / 2) $form-group-margin-bottom ($grid-gutter-width / 2);
  @include media-breakpoint-up(sm) {
    //margin: 0px 15px;
  }
}

.form-group.array .form-control {
  margin-top: 8px;
}

.form-group.array .form-control:first-child {
  margin-top: 0px;
}

.form-horizontal .col-form-label,
.form-horizontal .form-control-label {
  @include media-breakpoint-up(sm) {
    text-align: right;
  }
}

footer {
  margin-top: 4rem;
  border-top: 1px solid #e3e3e3;
  background-color: #f9f9f9;
  padding: 1.5rem;
  color: #777;
  font-weight: 200;
  text-align: center;
  font-size: 18px;
  line-height: 1.3rem;

  h6 {
    font-size: 22px;
    font-weight: 200;
  }

  small {
    font-weight: 200;
  }

  .progress {
    border: 1px solid #999;
    margin: 0.5rem;
  }
}
