<div id="login">
  <div class="card card-primary text-center">
    <h3 class="card-header bg-primary text-white">Sign In</h3>
    <div class="card-body">
      <p>Sign in with your appalachian.org Google account:</p>
      <%= link_to('<span class="sr-only">Sign in with Google</span>'.html_safe, omniauth_authorize_path(resource_name, :google_oauth2), :class => "google-signin-btn") %><br />
    </div>
  </div>
</div>
