<% if(record.errors.any?) %>
  <div class="alert alert-danger">
    <h4>Oops! Please check the errors below.</h4>

    <% if(record.errors[:base].any?) %>
      <ul>
        <% record.errors[:base].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
