<% breadcrumb(:edit_report, @report) %>

<% if(@report.upload_progress == "pending") %>
  <div class="alert alert-info progress-notice" role="alert">
    <h3>Processing file uploads...</h3>
    <p>This may take a little while depending on how many files you uploaded.<br>The page will automatically refresh once processing has finished.</p>
    <div class="loader-container">
      <div class="flower-loader"></div>
    </div>
  </div>
  <script>
    pollReportUploads(<%= @report.id.to_json.html_safe %>);
  </script>
<% else %>
  <h1>Edit Monitoring Report</h1>

  <% if(@report.upload_progress.present?) %>
    <div class="alert alert-danger progress-notice" role="alert">
      <h3>Error Processing File Uploads</h3>
      <p>An unexpected error occurred while processing the file uploads.</p>
    </div>
  <% end %>

  <%= render("form") %>
<% end %>
